<link href="/css/style.css" rel="stylesheet" type="text/css" />
<h2>Home</h2>
<p1>Benny’s Bakery is a small bakery in Corvallis that processes a significant amount of sales annually. 
    The bakery averages 20,000 sales per year with an average revenue of $300k. 
    Benny’s Bakery wants to increase its revenue and sales with an organized database-driven website that efficiently manages customer orders, inventory, and sales data. 
    Our database will assist in recording sales, managing inventory levels, and tracking sales performance. 
</p1>